@import 'modules/_mixins';
@import 'modules/_variables';

.board {
    width: 100%;
    max-width: calc(100% - 360px);
    position: relative;
    background-color: $primary-grey;
    
    &__container {
        padding: 70px 30px;
        width: 100%;
    }
}