@import 'modules/_mixins';
@import 'modules/_variables';

.footer {
    width: 100%;
    z-index: 2;
    position: relative;
    background-color: $primary-dark-blue;
    
	&__container {
        margin: 0 auto;
        max-width: 1440px;
        width: 100%;        
        padding: 21px 30px;

        span {
            font-size: 13px;
            line-height: 18px;
            font-weight: $font-regular;
            color: $white;
        }
    }
}