@import 'modules/_mixins';
@import 'modules/_variables';

.formation {
    width: 100%;
    position: relative;
    border: 3px solid $black;
    background-color: $primary-green;

    &__container {
        padding: 30px;
        @include display-flex;
        @include justify-content(center);
        @include flex-wrap(wrap);

        &.formation4-4-2 {
            .formation__item-wrapper {
                &:nth-child(-n+2) {
                    width: 50%;

                    .formation__item-header {
                        background-color: $primary-red;
                    }
                }
                
                &:nth-child(n+3) {
                    width: 25%;

                    .formation__item-header {
                        background-color: $secondary-green;
                    }
                }

                &:nth-child(n+7) {
                    width: 25%;

                    .formation__item-header {
                        background-color: $primary-blue;
                    }
                }
            }
        }

        &.formation4-5-1 {
            .formation__item-wrapper {
                &:first-child {
                    width: 100%;

                    .formation__item-header {
                        background-color: $primary-red;
                    }
                }

                &:nth-child(n+2) {
                    width: 20%;

                    .formation__item-header {
                        background-color: $secondary-green;
                    }
                }
                
                &:nth-child(n+7) {
                    width: 25%;

                    .formation__item-header {
                        background-color: $primary-blue;
                    }
                }
            }
        }

        &.formation5-4-1 {
            .formation__item-wrapper {
                &:first-child {
                    width: 100%;

                    .formation__item-header {
                        background-color: $primary-red;
                    }
                }

                &:nth-child(n+2) {
                    width: 25%;

                    .formation__item-header {
                        background-color: $secondary-green;
                    }
                }
                
                &:nth-child(n+6) {
                    width: 20%;

                    .formation__item-header {
                        background-color: $primary-blue;
                    }
                }
            }
        }

        &.formation5-3-2 {
            .formation__item-wrapper {
                &:nth-child(-n+2) {
                    width: 50%;

                    .formation__item-header {
                        background-color: $primary-red;
                    }
                }

                &:nth-child(n+3) {
                    width: calc(100%/3);

                    .formation__item-header {
                        background-color: $secondary-green;
                    }
                }
                
                &:nth-child(n+6) {
                    width: 20%;

                    .formation__item-header {
                        background-color: $primary-blue;
                    }
                }
            }
        }

        &.formation3-4-3 {
            .formation__item-wrapper {
                &:nth-child(-n+3) {
                    width: calc(100%/3);

                    .formation__item-header {
                        background-color: $primary-red;
                    }
                }

                &:nth-child(n+4) {
                    width: 25%;

                    .formation__item-header {
                        background-color: $secondary-green;
                    }
                }
                
                &:nth-child(n+8) {
                    width: calc(100%/3);

                    .formation__item-header {
                        background-color: $primary-blue;
                    }
                }
            }
        }

        .formation__item-wrapper:last-child {
            width: 100% !important;

            .formation__item-header {
                background-color: $secondary-orange !important;
            }
        }
    }

    &__item-wrapper {
        margin-bottom: 50px;
        @include display-flex;
        @include justify-content(center);
    }

    &__item {
        border: 1px solid $black;
        background-color: $white;
        max-width: 150px;
        width: 100%;
        margin: 0 15px;
    }

    &__item-content {
        padding: 10px;

        h2, p {
            text-align: center;
            color: $black;
        }

        h2 {
            font-size: 18px;
            line-height: 20px;
            font-weight: $font-bold;
        }

        p {
            font-size: 14px;
            line-height: 16px;
            font-weight: $font-regular;
        }
    }

    &__item-header {
        padding: 5px;
        background-color: $black;
        border-bottom: 1px solid $black;

        p {
            font-size: 10px;
            line-height: 12px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $white;
            text-align: center;
            font-weight: $font-bold;
            margin: 0 !important;
        }
    }
}