@import 'modules/_mixins';
@import 'modules/_variables';

.header {
    position: relative;
    width: 100%;
    background-color: $primary-dark-blue;

    &__container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 20px 30px;        
    }

    &__column {
        &--wide {
            padding-left: 360px;
            max-width: calc(100% - 460px);
            width: 100%;
        }

        &--narrow {
            max-width: 430px;
            width: 100%;
        }
    }

    &__header {
        color: $white;
        font-weight: $font-bold;
        font-size: 36px;
        line-height: 42px;
    }
}