@import './_mixins';
@import './_variables';

.page {
    width: 100%;
   // position: relative;

    &__container {
        margin: 0 auto;
        max-width: 1440px;
        width: 100%;
        height: 83.6vh;
       // position: relative;

        &:after, &:before {
            content: "";
            width: 100vw;
            height: 100%;
            position: absolute;
            top: 0;

            @include desktop {
                display: none;
            }
        }

        &:after {
            right: -100vw;
            background-color: $primary-grey;
        }

        &:before {
            left: -100vw;
            background-color: $secondary-grey;
        }
    }
}