@import 'modules/_mixins';
@import 'modules/_variables';

.button {
    height: 50px;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    padding: 10px 30px;
    position: relative;
    cursor: pointer;
    border-radius: 25px;
    @include transition(all 0.3s ease-in-out);
    max-width: 200px;
    width: 100%;

    &:hover,
    &:focus {
        @include transition(all 0.3s ease-in-out);
        text-decoration: none;
    }    
    
    &--white-background {
        background-color: $white;

        &:hover {
            background-color: rgba($white, 0.8);
        }
    }

    &--black-background {
        background-color: $black;

        &:hover {
            background-color:rgba($black, 0.8);
        }
    }

    &--white-text {
        color: $white;

        &:hover {
            color: $white;
        }
    }

    &--black-text {
        color: $black;

        &:hover {
            color: $black;
        }
    }

    &--white-border {
        border: 2px solid $white;
    }

    &--black-border {
        border: 2px solid $black;
    }    

    &--full-width {
        max-width: 100%;
    }

    &--center {
        margin: 0 auto;
    }
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: none;
}

.button,
.button:hover,
.button:active,
button,
button:hover,
button:active,
a,
a:hover,
a,
a:active {
    outline: none;
}
