/* Colors */
$white: #FFF;
$black: #000;

$primary-dark-blue: #273746 ;
$primary-grey: #F8F9F9;
$secondary-grey: #EBEDEF;
$primary-orange: #EB984E;

/* Font-weight */
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;

/* Font-family */
$primary-font: 'Lato', sans-serif;

/* Breakpoints */
$desktop-width: 1440px;
$notebook-width: 996px;
$tablet-width: 768px;
$mobile-width: 480px;
$phone-width: 375px;