<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:spring="http://java.sun.com/xml/ns/javaee">
<head>
    <!-- Title -->
    <title>Zawodnicy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=latin-ext" rel="stylesheet">
    <!-- CSS libs -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- JS libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Custom styles -->
    <link rel="stylesheet" href="../static/css/main.min.css" th:href=@{/css/main.min.css}>
    <!-- Custom scripts -->
    <script src="../static/js/main.js"></script>
</head>
<body>
    <header class="header">
        <div class="header__container container">
                <div class="row row--space-between header__wrap header__padding">
                <div class="column header__column--wide">
                    <h1 class="header__header">Zawodnicy</h1>
                </div>
                <!-- if not logged -->
                <div class="column header__column--narrow">
                    <div class="row row--space-between header__wrap">
                        <a href="/login" class="button button--white-background button--black-text">Zaloguj&nbsp;się</a>
                        <a href="/register" class="button button--black-background button--white-text button--white-border">Zarejestruj&nbsp;się</a>
                    </div>
                </div>
                <!-- else -->                
                <!-- <div class="column header__column--narrow">
                    <form action="/" class="row row--vertical-end">
                        <button type="submit" class="button button--black-background button--white-text button--white-border">Wyloguj się</button> 
                    </form>
                </div> -->
                <!-- endif -->
            </div>
        </div>
    </header>
    <div class="page">
        <div class="container page__container">
            <div class="row row--space-between">
                <aside class="sidebar">
                    <ul class="container">
                        <li><a href="/">Strona&nbsp;główna</a></li>
                        <li><a href="/news">Aktualności</a></li>
                        <li><a href="/footballers">Zawodnicy</a></li>
                        <li><a href="/calendar">Kalendarz</a></li>
                        <li><a href="/sklad">Skład</a></li>
                        <li><a href="/statystyki">Statystyki</a></li>
                    </ul>
                </aside>
                <div class="board">
                    <div class="board__container container">
                        <div class="column">
                            <div class="row">
                                <h2 class="section-header">Lista zadowników</h2>
                            </div>
                            
                        <!-- Button to Open the Modal -->
                        <button type="button" class="button button--white-background button--black-text button--black-border margin-bot30" data-toggle="modal" data-target="#myModal">
                                Dodaj zawodnika
                        </button>
                            <ul th:each="message : ${addedFootballer}">
                                <li th:text="${message}" class="alert alert-success" />
                            </ul>
                            <ul th:each="message : ${removedFootballer}">
                                <li th:text="${message}" class="alert alert-danger" />
                            </ul>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Imie</th>
                                        <th>Nazwisko</th>
                                        <th>Pozycja</th>
                                        <th>Opcje</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="footballers: ${allFootballers}">
                                        <td th:text="${footballers.getImie()}"></td>
                                        <td th:text="${footballers.getNazwisko()}"></td>
                                        <td th:text="${footballers.getPozycja()}"></td>
                                        <td><a th:href="@{/delete(id=${footballers.getId()})}" class="btn btn-danger btn-sm">Usuń</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- The Modal -->
                        <div class="modal" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">                        
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title ">Dodaj zawodnika</h4>
                                        <button type="button" class="close " data-dismiss="modal">&times;</button>
                                    </div>                        
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <form action = "addFootballer"  method="post">
                                            <div class="form-group">
                                                <label for="imie">Imie:</label>
                                                <input type="text" class="form-control" id="imie" placeholder="Podaj imie" name="imie" required>
                                                <div class="valid-feedback">Uzupełniono</div>
                                                <div class="invalid-feedback">Proszę wypełnić pole</div>
                                            </div>
                                            <div class="form-group">
                                                <label for="nazwisko">Nazwisko:</label>
                                                <input type="text" class="form-control" id="nazwisko" placeholder="Podaj nazwisko" name="nazwisko" required>
                                                <div class="valid-feedback">Uzupełniono</div>
                                                <div class="invalid-feedback">Proszę wypełnić pole</div>
                                            </div>
                                            <div class="form-group">
                                                <label for="pozycja">Pozycja:</label>
                                                <select class="custom-select" id = "pozycja" name="pozycja" required>
                                                    <option value="">Pozycja</option>
                                                    <option value="N">Napastnik</option>
                                                    <option value="P">Pomocnik</option>
                                                    <option value="O">Obrońca</option>
                                                    <option value="BR">Bramkarz</option>
                                                </select>
                                                <div class="invalid-feedback">Proszę wypełnić pole</div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Dodaj</button>
                                        </form>
                                    </div>                        
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                                    </div>                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer">
        <div class="container footer__container">
            <div class="row row--space-between">
                <span>Wszelkie prawa zastrzeżone &copy; 2019 PiP</span>
                <span>Projekt i&nbsp;wykonanie: <strong>Galas, Gluch, Faron, Grzyb</strong></span>
            </div>
        </div>
    </footer>
</body>
</html>
