<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap&subset=latin-ext" rel="stylesheet">
    <title>Projekt PiP</title>
    <link rel="icon" type="image/png" href="../static/assets/images/favicon/favicon.png">
    <link rel="stylesheet" type="text/css" href="../static/assets/styles/libs/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../dist/main.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="assets/scripts/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="../dist/main.js"></script>
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/add}" th:object="${student}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Passport number: <input type="text" th:field="*{passportNumber}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    <a href="/">Powrót</a>
</form>
</body>
</html>