<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap&subset=latin-ext" rel="stylesheet">
    <title>Projekt PiP</title>
    <link rel="icon" type="image/png" href="../assets/images/favicon/favicon.png">
    <link rel="stylesheet" type="text/css" href="../assets/styles/libs/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../dist/main.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../assets/scripts/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="../dist/main.js"></script>
</head>
<body>
    <header class="header">
        <div class="header__container container">
            <div class="row row--space-between">
                <div class="column header__column--wide">
                    <h1 class="header__header">Strona&nbsp;główna</h1>
                </div>
                <!-- if not logged -->
                <div class="column header__column--narrow">
                    <div class="row row--space-between">
                        <a href="/login" class="button button--white-background button--black-text">Zaloguj&nbsp;się</a>
                        <a href="/register" class="button button--black-background button--white-text button--white-border">Zarejestruj&nbsp;się</a>
                    </div>
                </div>
                <!-- else -->                
                <!-- <div class="column header__column--narrow">
                    <form action="/" class="row row--vertical-end">
                        <button type="submit" class="button button--black-background button--white-text button--white-border">Wyloguj się</button> 
                    </form>
                </div> -->
                <!-- endif -->
            </div>
        </div>
    </header>
    <div class="page">
        <div class="container page__container">
            <div class="row row--space-between">
                <aside class="sidebar">
                    <ul class="container">
                        <li><a href="#">Strona&nbsp;główna</a></li>
                        <li><a href="/footballers">Zawodnicy</a></li>
                        <li><a href="#">Kalendarz</a></li>
                        <li><a href="/sklad">Skład</a></li>
                        <li><a href="#">Statystyki</a></li>
                        <li><a href="#">Finanse</a></li>
                    </ul>
                </aside>
                <div class="board">
                    <div class="board__container container">
                        <div class="row">
                            <h2 class="section-header">Najnowsze artykuły</h2>
                        </div>
                        <article class="article">
                            <div class="article__wrapper">
                                <div class="article__text">
                                    <p>Od początku widziałem, że młody kibic biegnący w moją stronę, uśmiechał się. Miałem już takie sytuacje - powiedział Robert Lewandowski, odnosząc się do końcówki spotkania z Izraelem (2:1), kiedy na boisko wtargnęli kibice.</p>
                                </div>
                                <div class="article__image-box">
                                    <img src="https://www.flashscore.pl/res/image/data/EB7qLzHG-4dx0soOA.png" alt="Zdjęcie artykułu">
                                </div>
                            </div>
                        </article>
                        <article class="article">
                            <div class="article__wrapper">
                                <div class="article__text">
                                    <p>Selekcjoner reprezentacji Polski, Jerzy Brzęczek, podał wyjściowy skład swojego zespołu na sobotni mecz 9. kolejki grupy G eliminacji Euro 2020 z Izraelem.<br/> <strong>Polska:</strong> Wojciech Szczęsny - Tomasz Kędziora, Kamil Glik, Jan Bednarek, Arkadiusz Reca - Grzegorz Krychowiak, Krystian Bielik - Sebastian Szymański, Piotr Zieliński, Przemysław Frankowski - Krzysztof Piątek.</p>
                                </div>
                                <div class="article__image-box">
                                    <img src="https://wmeritum.pl/wp-content/uploads/2018/03/koszulki-1.jpg" alt="Zdjęcie artykułu">
                                </div>
                            </div>
                        </article>
                        <article class="article">
                            <div class="article__wrapper">
                                <div class="article__text">
                                    <p>Zespół Lecha Poznań do końca 2019 roku rozegra przy Bułgarskiej jeszcze tylko 3 spotkania w tym 2 mecze zgodowe w grudniu. Zanim Kolejorz podejmie na Stadionie Miejskim ekipę Łódzkiego Klubu Sportowego i drużynę Arki Gdynia już w piątek, 22 listopada, o godzinie 20:30 na nasz obiekt zawita zespół aktualnego Mistrza Polski, Piasta Gliwice.</p>
                                </div>
                                <div class="article__image-box">
                                    <img src="https://www.flashscore.pl/res/image/data/nHGXTKAr-WYr1gV4A.png" alt="Zdjęcie artykułu">
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer">
        <div class="container footer__container">
            <div class="row row--space-between">
                <span>Wszelkie prawa zastrzeżone (C) 2019 PiP</span>
                <span>Projekt i&nbsp;wykonanie: <strong>Galas, Gluch, Faron, Grzyb</strong></span>
            </div>
        </div>
    </footer>
</body>
</html>