<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap&subset=latin-ext" rel="stylesheet">
    <title>Projekt PiP</title>
    <link rel="icon" type="image/png" href="../assets/images/favicon/favicon.png">
    <link rel="stylesheet" type="text/css" href="../assets/styles/libs/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../dist/main.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../assets/scripts/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="../dist/main.js"></script>
</head>
<body>
    <header class="header">
        <div class="header__container container">
            <div class="row row--space-between">
                <div class="column header__column--wide">
                    <h1 class="header__header">Strona&nbsp;główna</h1>
                </div>
                <!-- if not logged -->
                <div class="column header__column--narrow">
                    <div class="row row--space-between">
                        <a href="/login" class="button button--white-background button--black-text">Zaloguj&nbsp;się</a>
                        <a href="/register" class="button button--black-background button--white-text button--white-border">Zarejestruj&nbsp;się</a>
                    </div>
                </div>
                <!-- else -->                
                <!-- <div class="column header__column--narrow">
                    <form action="/" class="row row--vertical-end">
                        <button type="submit" class="button button--black-background button--white-text button--white-border">Wyloguj się</button> 
                    </form>
                </div> -->
                <!-- endif -->
            </div>
        </div>
    </header>
    <div class="page">
        <div class="container page__container">
            <div class="row row--space-between">
                <aside class="sidebar">
                    <ul class="container">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                        <li><a href="#">Link 5</a></li>
                        <li><a href="#">Link 6</a></li>
                        <li><a href="#">Link 7</a></li>
                    </ul>
                </aside>
                <div class="board">
                    <div class="board__container">
                        <p>content!</p>
                        <!-- <a href="/formStudent"><button>Dodaj uzytkownika</button></a>
                        <a href="/all"><button>Pokaż wszystkich użytkowników</button></a> -->
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <footer id="footer" class="footer">
        <div class="container footer__container">
            <div class="row row--space-between">
                <span>Wszelkie prawa zastrzeżone (C) 2019 PiP</span>
                <span>Projekt i&nbsp;wykonanie: <strong>Galas, Gluch, Faron, Grzyb</strong></span>
            </div>
        </div>
    </footer>
</body>
</html>