<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.springframework.org/schema/data/jaxb" xmlns:style="http://www.w3.org/1999/xhtml">
<head>
    <title>Skład drużyny</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/main.min.css"  th:href=@{/css/main.min.css}>
</head>
<body>
        <header class="header">
                <div class="header__container container">
                    <div class="row row--space-between">
                        <div class="column header__column--wide">
                            <h1 class="header__header">Skład</h1>
                        </div>
                        <!-- if not logged -->
                        <div class="column header__column--narrow">
                            <div class="row row--space-between">
                                <a href="/login" class="button button--white-background button--black-text">Zaloguj&nbsp;się</a>
                                <a href="/register" class="button button--black-background button--white-text button--white-border">Zarejestruj&nbsp;się</a>
                            </div>
                        </div>
                        <!-- else -->                
                        <!-- <div class="column header__column--narrow">
                            <form action="/" class="row row--vertical-end">
                                <button type="submit" class="button button--black-background button--white-text button--white-border">Wyloguj się</button> 
                            </form>
                        </div> -->
                        <!-- endif -->
                    </div>
                </div>
            </header>
            <div class="page">
                    <div class="container page__container">
                        <div class="row row--space-between">
                            <aside class="sidebar">
                                <ul class="container">
                                    <li><a href="/">Strona&nbsp;główna</a></li>
                                    <li><a href="/footballers">Zawodnicy</a></li>
                                    <li><a href="/calendar">Kalendarz</a></li>
                                    <li><a href="/sklad">Skład</a></li>
                                    <li><a href="#">Statystyki</a></li>
                                    <li><a href="#">Finanse</a></li>
                                </ul>
                            </aside>
                            <div class="board">
                                <div class="board__container container">
                                    <div class="row">
                                         <h2 class="section-header">Skład drużyny</h2>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-success">Napastnicy</li>
                                        <tr th:each="footballersN: ${allFootballersN}">
                                            <li class="list-group-item list-group-item-light">
                                                <td th:text="${footballersN.getImie()}"></td>
                                                <td th:text="${footballersN.getNazwisko()}"></td>
                                                <i class="fas fa-chevron-circle-down" style="float: right; color: darkred;"></i>
                                            </li>
                                        </tr>

                                        <li class="list-group-item list-group-item-warning">Pomocnicy</li>
                                        <tr th:each="footballersP: ${allFootballersP}">
                                            <li class="list-group-item list-group-item-light">
                                                <td th:text="${footballersP.getImie()}"></td>
                                                <td th:text="${footballersP.getNazwisko()}"></td>
                                                <i class="fas fa-chevron-circle-down" style="float: right; color: darkred;"></i>                                        </tr>

                                        <li class="list-group-item list-group-item-primary">Obrońcy</li>
                                        <tr th:each="footballersO: ${allFootballersO}">
                                            <li class="list-group-item list-group-item-light">
                                                <td th:text="${footballersO.getImie()}"></td>
                                                <td th:text="${footballersO.getNazwisko()}"></td>
                                                <i class="fas fa-chevron-circle-down" style="float: right; color: darkred;"></i>                                            </li>
                                        </tr>

                                        <li class="list-group-item list-group-item-info">Bramkarze</li>
                                        <tr th:each="footballersBR: ${allFootballersBR}">
                                            <li class="list-group-item list-group-item-light">
                                                <td th:text="${footballersBR.getImie()}"></td>
                                                <td th:text="${footballersBR.getNazwisko()}"></td>
                                                <i class="fas fa-chevron-circle-down" style="float: right; color: darkred;"></i>                                        </tr>

                                        <li class="list-group-item list-group-item-dark">Ławka rezerwowych</li>
                                        <tr th:each="footballersR: ${allFootballersR}">
                                            <li class="list-group-item list-group-item-light">
                                                <td th:text="${footballersR.getPozycja()}"></td>
                                                <td th:text="${footballersR.getImie()}"></td>
                                                <td th:text="${footballersR.getNazwisko()}"></td>
                                                <i class="fas fa-chevron-circle-up" style="float: right; color: darkgreen;" ></i>
                                            </li>
                                        </tr>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <footer id="footer" class="footer">
                    <div class="container footer__container">
                        <div class="row row--space-between">
                            <span>Wszelkie prawa zastrzeżone &copy; 2019 PiP</span>
                            <span>Projekt i&nbsp;wykonanie: <strong>Galas, Głuch, Faron, Grzyb</strong></span>
                        </div>
                    </div>
                </footer>
</body>
</html>