<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Skład drużyny</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/index.html">Strona Główna</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/footballers">Zawodnicy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sklad">Skład</a>
        </li>
    </ul>
</nav>
<br><br>

<div class="container">
    <h2>Skład drużyny</h2>
    <ul class="list-group">
        <li class="list-group-item list-group-item-success">Napastnicy</li>
        <li class="list-group-item list-group-item-light">Light item</li>
        <li class="list-group-item list-group-item-light">Light item</li>
        <li class="list-group-item list-group-item-light">Light item</li>

        <li class="list-group-item list-group-item-warning">Pomocnicy</li>
        <li class="list-group-item list-group-item-light">Light item</li>
        <li class="list-group-item list-group-item-light">Light item</li>
        <li class="list-group-item list-group-item-light">Light item</li>

        <li class="list-group-item list-group-item-primary">Obrońcy</li>
        <li class="list-group-item list-group-item-light">Light item</li>
        <li class="list-group-item list-group-item-light">Light item</li>
        <li class="list-group-item list-group-item-light">Light item</li>
        <li class="list-group-item list-group-item-light">Light item</li>

        <li class="list-group-item list-group-item-info">Bramkarz</li>
        <li class="list-group-item list-group-item-light">Light item</li>

        <li class="list-group-item list-group-item-dark">Ławka rezerwowych</li>
        <li class="list-group-item list-group-item-light">Light item</li>
        <li class="list-group-item list-group-item-light">Light item</li>
        <li class="list-group-item list-group-item-light">Light item</li>
    </ul>
</div>
<br><br>

</body>
</html>